<%= form_for(@koan) do |f| %>
  <% if @koan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@koan.errors.count, "error") %> prohibited this koan from being saved:</h2>

      <ul>
      <% @koan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_area :question %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_area :code %>
  </div>
  <div class="field">
    <%= f.label :actual_answer %><br />
    <%= f.text_area :actual_answer %>
  </div>
  <div class="field">
    <%= f.label :proposed_answer %><br />
    <%= f.text_area :proposed_answer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
