<h1>Home#index</h1>
<h1>Welcome to C++ Koans Online!</h1>
<h2>First simple koan</h2>
<p>Enter the answer in the box provided and hit the submit button</p>

<% @koans.each do |koan| %>
  <%= form_tag home_answer_koan_path do -%>
    <%= koan.question %>
    <%= koan.code[/(.*)___.*/, 1]%><%= text_field_tag "answer", "", :id => "answer" %><%= koan.code[/.*___(.*)/, 1] %>
    <%= submit_tag "Submit", :id => "submit" %>
  <% end -%>
<% end %>

